################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dominion Card Builder/bin/Debug
/Dominion Card Builder/obj/Debug
